# Claude Code
.claude/

# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
DerivedData/
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
waybar/__pycache__/
__pycache__/
